# **# Dictionary of 20 students with their Id's**

In [ ]:
students = {"Sudheer": 100, "Hasnain": 101, "Jalal": 102, "Basit": 103, "Hafeez": 104, "Ali": 105, "Faisal": 106, "Abbas": 107,
            "Umar": 108, "Adnan": 109, "Haris": 110,"Sadar": 111, "Saad": 112, "Noman": 113, "Qadeer": 114, "Aqib": 115,
            "Jameel": 116, "Amir": 117, "Saud": 118, "Saleem": 119, "Saim":120}

**Task 01: **Add key Irfan with value 200 at the end

In [ ]:
students["irfan"] = 200
for x, y in students.items():
  print(x, y)

Sudheer 100
Hasnain 101
Jalal 102
Basit 103
Hafeez 104
Ali 105
Faisal 106
Abbas 107
Umar 108
Adnan 109
Haris 110
Sadar 111
Saad 112
Noman 113
Qadeer 114
Aqib 115
Jameel 116
Amir 117
Saud 118
Saleem 119
Saim 120
irfan 200

### **Task 02: **Replace 10th Element of the Dictionary with Irfan: 200

In [ ]:
items = list(students.items())
items[9] = ("Irfan", 200)

for x, y in students.items():
  print(x, y)

Sudheer 100
Hasnain 101
Jalal 102
Basit 103
Hafeez 104
Ali 105
Faisal 106
Abbas 107
Umar 108
Irfan 200
Haris 110
Sadar 111
Saad 112
Noman 113
Qadeer 114
Aqib 115
Jameel 116
Amir 117
Saud 118
Saleem 119
Saim 120
irfan 200

### **Task 03:** Grab/Extract only Name of the Students in Dictionary

In [ ]:
for x in students.keys():
    print(x)

Sudheer
Hasnain
Jalal
Basit
Hafeez
Ali
Faisal
Abbas
Umar
Irfan
Haris
Sadar
Saad
Noman
Qadeer
Aqib
Jameel
Amir
Saud
Saleem
Saim
irfan

### **Task 04:** Grab/Extract only ID's of the Students in *Dictionary*

In [ ]:
for x in students.values():
    print(x)

100
101
102
103
104
105
106
107
108
200
110
111
112
113
114
115
116
117
118
119
120
200

### **Task 05:** Grab/Extract Both ID's and Names of the Students in *Dictionary*

In [ ]:
for x, y in students.items():
  print(x, y)

Sudheer 100
Hasnain 101
Jalal 102
Basit 103
Hafeez 104
Ali 105
Faisal 106
Abbas 107
Umar 108
Irfan 200
Haris 110
Sadar 111
Saad 112
Noman 113
Qadeer 114
Aqib 115
Jameel 116
Amir 117
Saud 118
Saleem 119
Saim 120
irfan 200